body {
  padding: 64px;
}

.box {
  width: 100px;
  height: 100px;
  background: orange;

  transition-property: transform, background;
  /* transition-property: all; 全部のプロパティを一気に遷移 */
  transition-duration: 1s;
}

.box:hover {
  transform: translateX(30px);
  background: skyblue;
}