body {
  padding: 64px;
}

.box {
  width: 100px;
  height: 100px;
  background: orange;

  transition-property: transform;
  transition-duration: 1s;
}

.box:hover {
  transform: translateX(30px);
  background: skyblue;
}